@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* === GENERAL AND BODY START === */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #343a40;
  position: relative;
  background: linear-gradient(135deg, #cbdef1, #cbdef1, #ffffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.accordion-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  padding: 2rem 0;
  gap: 60px;
}

/* === GENERAL AND BODY END === */

/* === ACCORDION START === */

.accordion {
  width: fit-content;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 24px;
}

/* == LOGO START == */

.logo {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem 2rem;
}

.logo img {
  width: auto;
  height: 250px;
  object-fit: cover;
}

/* == LOGO END == */

/* == SENTENCES START == */

.sentences {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  text-shadow: 2px 2px 3px black;
  border-top: 3px solid rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
  word-spacing: 6px;
  letter-spacing: 2px;
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  color: #087f5b;
}

/* == SENTENCES END == */

/* == HOUR START == */

.mainHour {
  padding: 1.5rem;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.8);
  background-color: #60686e;
  border-radius: 20px;
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.8);
  font-size: 55px;
  gap: 4px;
}

.hour::before {
  content: "🕒";
  font-size: 57px;
}

.hour .date {
  font-size: 55px;
  color: rgba(0, 0, 0, 0.7);
}

/* == HOUR END == */

/* == NO-ECZANE-MESSAGE START == */

.no-eczane-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 28px 32px;
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  border: 4px solid #f5c6cb;
  border-radius: 20px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  word-spacing: 2px;
  min-height: 658.38px;
}

.no-eczane-message::before {
  content: "❌";
  font-size: 150px;
}

.no-eczane-message::after {
  content: "😔";
  font-size: 150px;
}

/* == NO-ECZANE-MESSAGE END == */

/* === ACCORDION END === */

/* === ADVERTISEMENT START === */

.advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo {
  display: flex;
  width: fit-content;
  gap: 50px;
}

.promo img {
  width: 800px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.7);
}

/* === ADVERTISEMENT END === */

/* === ITEM START === */

.item {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  transition: all 0.3s ease;
}

/* === ITEM FEATURED START === */

.featured {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 45px;
  background-color: #ccf7e9;
  border: 4px solid hsl(162, 88%, 26%);
  border-radius: 20px;
}

.text-card {
  max-width: 40ch;
}

/* === ITEM FEATURED END === */

/* === CONTENT BOX START === */

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: whitesmoke;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-size: 35px;
  padding: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title {
  color: #087f5b;
  font-weight: 700;
  border-bottom: 4px solid rgba(0, 0, 0, 0.6);
}

.badge {
  display: flex;
  align-items: center;
  background-color: #087f5b;
  color: white;
  padding: 0.2rem 10px;
  border-radius: 6px;
  vertical-align: middle;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.qrCode {
  background-color: whitesmoke;
  border: 3px solid rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 15px;
  gap: 10px;
}

.qrText {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}

.location {
  display: none;
}

strong {
  color: #000000;
}

/* === CONTENT BOX END === */

/* === ITEM END === */

/* === LOADING CONTAINER START === */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  gap: 20px;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #eee;
  border-top-color: #087f5b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  font-size: 20px;
  color: #087f5b;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* === LOADING CONTAINER END === */
